# Execução local fora do Docker
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/oficina_db?schema=public"

# Segredo do JWT
JWT_SECRET="troque-este-segredo"

# Porta da aplicação
PORT=3000